<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PriateGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2BE2CF61EDEAA8400787C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2BE2D121EDEAA8500787C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2BE2D1D1EDEAA8500787C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
